@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');

.register_notes div p{
  display: inline-block;
  padding: 0 5;
  margin: 5 0;
}

#add_note p {
  margin: 0;
}

.wrap_notes {
  width: 60%;
  margin: 5px 15%;
  background-color: white;
  padding: 2%;
}

@media screen and (max-width: 900px) {
  .wrap_notes{
    margin:0;
    width: 100%;
  }
}

.wrap_notes div div, .register_notes div p{
  /* font-family: 'Reenie Beanie', cursive; */
  font-family: inherit;
}

.wrap_notes div h3{
  font-size: 30;
  text-align: center;
}

#list_note div{
  display: inline-block;
  margin: 5 20;
  padding: 10;
  background-color: white;
  cursor: pointer;
}

table td{
  border: 1px solid black;
  padding: 0;
}

.notes {
  border: 1px solid black;
}
