@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');

.register_notes div {
  display: table;
}

.register_notes div p{
  display: table-cell;
  padding-left: 5;
  padding-right: 5;
}

/* div {
  background-color: white;
} */

#add_note p {
  margin: 0;
}

.wrap_notes {
  margin: 10;
  position: absolute;
  width: 40%;
  height: 40%;
  background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
  border: 1px solid #E8E8E8;
  border-bottom-right-radius: 60px 5px;
  box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
  padding-bottom: 40;
}

.wrap_notes div div, .register_notes div p{
  font-family: 'Reenie Beanie', cursive;
  font-size: 25;

}

.wrap_notes div h3{
  font-family: 'Reenie Beanie', cursive;
  margin: 0;
  font-size: 30;
}

.wrap_notes img {
  float: right;
  margin-top: -25;
}
