{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'kino_dev/kino_ai/index_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'kino_dev/kino_ai/noting_app.css' %}">
<script src="{% static 'kino_dev/jquery.min.js' %}"></script>
<script src="{% static 'kino_dev/p5.min.js' %}"></script>
<script src="{% static 'kino_dev/addons/p5.dom.min.js' %}"></script>
<script src="{% static 'kino_dev/addons/p5.sound.min.js' %}"></script>

<div id='header_info'>

<div class="aside">
  <a class="aside" href="{% url 'kino_dev:index' %}" ><img class="aside" id="logo" width="140" height="140" src="{% static 'kino_dev/logo/logo_cut.png' %}" ></a>
</div>
<h1 >Noting app </h1>
</div>

<div id="add_note">
  <p>Add note : </p>
  <input type="text" id="input_add"/>

  <button id='save_subs'>Download subs</button>
  <button id='save_notes'>Download notes</button>
</div>

<div id='created_notes'>
</div>

<!-- <img src="{% static 'kino_dev/logo/frigo.png' %}" width="100%" style='"text-align: center"'> -->

<script>
let off = document.getElementById('logo').offsetHeight - document.getElementById("add_note").offsetTop+5;
document.getElementById('header_info').style.padding =  " 0 0 "+off.toString()+" 0";
var start;
var start_time;
var tab_ind_time = [];
var notes = [];
var curr_note_ind;
var is_dragging = {};

$('#input_add').change(function() {
  let wrap_note = document.createElement('div');
  wrap_note.className = "wrap_notes";
  let register_notes = document.createElement('div');
  register_notes.className = "register_notes";
  let note = document.createElement('div');
  note.className = "notes";
  note.contentEditable = true;
  let div_title = document.createElement('div');
  let title = document.createElement('h3');
  title.innerText = $(this).val()+' '+Date().split('GMT')[0];
  let img = document.createElement('img');
  img.src = "/static/kino_dev/logo/punaise.png";
  img.width = 65;
  img.height = 50;
  div_title.append(img);
  div_title.append(title);
  wrap_note.append(div_title);
  let text_note = document.createElement('div');
  text_note.append(register_notes);
  text_note.append(note);
  text_note.style.overflow = 'auto';
  text_note.style.height = '100%';
  text_note.style.width = '100%';
  wrap_note.append(text_note);
  $('#created_notes').append(wrap_note);
  $(this).val('');
  updateEvent();
});

function updateEvent() {

  $('.notes').keyup(function(event) {
    curr_note_ind = $('.notes').index(this);
    if(event.originalEvent.keyCode == 13){
      $('.notes')[curr_note_ind].innerText = '';
    }
  });

  $('.notes').keydown(function(event) {
    curr_note_ind = $('.notes').index(this);
    let last = $('.notes')[curr_note_ind].innerText.split('\n')[$('.notes')[curr_note_ind].innerText.split('\n').length-1];
    console.log('key');
    if(last.length==1) {
      let timeCode = Date().split('GMT')[0].split('2019')[1];
      start = timeCode;
      start_time = Date.now();
    }
    if(event.originalEvent.keyCode == 13 && start) {
      let end = Date().split('GMT')[0].split('2019')[1];
      let text = getLastLine($('.notes')[curr_note_ind].innerText.split('\n'));
      console.log(event.originalEvent.key, text, start, end);
      let timeCode = document.createElement('p');
      timeCode.style.width = 165;
      let newNote = document.createElement('p');
      newNote.contentEditable = true;
      newNote.spellcheck = false;
      let note = {};
      note.Start = start;
      note.End = end;
      note.Text = text;
      note.IndexTime = tab_ind_time;
      notes.push(note);
      newNote.innerText = text;
      timeCode.innerText = start + ' - '+end;
      let div = document.createElement('div');
      div.append(timeCode);
      div.append(newNote);
      $('.register_notes')[curr_note_ind].append(div);
      $('.notes')[curr_note_ind].innerText = '';
      tab_ind_time = [];
      start = undefined;
    }else if(last.length==0) {
      start=undefined;
    }
  });

  $('.wrap_notes').mousedown(function() {
    if(!is_dragging.drag) {
      is_dragging.drag = true;
      // $(this).css('z-index', 3000);
      if (event.ctrlKey) {
         //do something, ctrl was down when clicked
         if($(this).parent().width()/ $(this).width() != 10){
           $(this).css('width','10%');
           $(this).css('height','10%');
         } else {
           $(this).css('width','40%');
           $(this).css('height','40%');
         }
      }
      $(this).detach().appendTo($('#created_notes'));
      is_dragging.ind = $('.wrap_notes').index(this);
    }
    // console.log('click down');
  }).mousemove(function( event ) {
    if(is_dragging.drag && is_dragging.ind == $('.wrap_notes').index(this)) {
      let w = $(this).width();
      let h = $(this).height();
      $(this).css({top: event.pageY-h/2, left: event.pageX-w/2});
    }
  }).mouseup(function( event ){
    is_dragging.drag = false;
  });

}
function getLastLine(tab) {
  let text;
  for(let i=tab.length-1;i>=0;i--) {
    if(tab[i]!='') {
      text = tab[i];
      break;
    }
  }
  return text;
}

function to_seconds(string) {
  let tab = string.split(':');
  return parseInt(tab[0])*3600+parseInt(tab[1])*60+parseInt(tab[2]);
}

function to_string(seconds) {
  let hour = Math.floor(seconds/3600);
  return hour*60+Math.floor((seconds/60)%60)+':'+Math.floor(seconds%60);
}

function getNote(subs=false) {
  let notes = [];
  let wraps = document.getElementsByClassName('wrap_notes');
  for(let w of wraps) {
    let note = {};
    note.Title = w.children[0].children[1].innerText.split(Date().split(' ')[0])[0].split(' ')[0];
    let seconds_offset = to_seconds(w.children[0].children[1].innerText.split(' ')[w.children[0].children[1].innerText.split(' ').length-1])
    if (w.children[1].children[0].children.length >= 1) {
      seconds_offset = to_seconds(w.children[1].children[0].children[0].innerText.split('-')[0]);
    }
    console.log(seconds_offset);
    note.Content = []
    let register = w.children[1].children[0].children;
    for(let r of register) {
      let content = {};
      content.Start = r.children[0].innerText.split('-')[0];
      console.log(to_string(to_seconds(content.Start)-seconds_offset));
      content.End = r.children[0].innerText.split('-')[1];
      console.log(to_string(to_seconds(content.End)-seconds_offset));
      if(subs) {
        content.Start = to_string(to_seconds(content.Start)-seconds_offset);
        content.End = to_string(to_seconds(content.End)-seconds_offset);
      }
      content.Text = r.children[1].innerText;
      note.Content.push(content);
    }
    notes.push(note);
  }
  return notes;
}

function downloadNote(tab) {
  for(let data of tab) {
    var a = document.createElement('a');
    a.title = "link";
    a.href = data['src'];
    a.id = 'click';
    a.download = data['title']+data['extention'];
    console.log(document.getElementById('click'));
    a.click();
    a.remove();
  }
}


$( "#save_notes" ).click(function() {
  var notes = getNote();
  $.post({
    url: "download_notes",
    data: {'notes': JSON.stringify(notes)},
    dataType: 'json',
    success: function (data) {
      return downloadNote(data);
    }
  });
});


$( "#save_subs" ).click(function() {
  var notes = getNote(true);
  $.post({
    url: "download_subs",
    data: {'notes': JSON.stringify(notes)},
    dataType: 'json',
    success: function (data) {
      return downloadNote(data);
    }
  });
});

setInterval(function(){
  if(Date.now()/1000 - start_time/1000 > 5) {
    // $('#input_note').trigger("change");
    if(start) {
      start_time=Date.now();
      let text = getLastLine($('.notes')[0].innerText.split('\n'));
      tab_ind_time.push({'ind':text.length, 'time':start_time})
      console.log(text.length, text);
    } else {
      start_time = Infinity;
    }
  }
}, 100);

String.prototype.replaceAt=function(index, replacement) {
    return this.substr(0, index) + replacement+ this.substr(index + replacement.length);
}

</script>
