{% load static %}
{% load string_filter %}
<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/index_style.css' %}">
<script src="{% static 'kino_app/jquery.min.js' %}"></script>
<title> Kino AI </title>

<div id='header_info'>
<div id='user_info'>
  <h3>{{user.username}}</h3>
  <div id='log_up'>
  <form action="{% url 'logout' %}" method="post" >
          {% csrf_token %}
          <input type="submit" value="Log Out" class='user_button'/>
      </form>
  <button class="user_button" onclick="manageAccount()">Account</button>
    </div>
</div>
<div class="aside">
  <a class="aside" href="{% url 'kino_app:index' %}" ><img class="aside" id="logo" width="140" height="140" src="{% static 'kino_app/logo/logo_cut.png' %}" ></a>
</div>
<h1>Kino AI</h1>
</div>

<div id="account_manager" class="infos" style="display:none;margin-top:10;">
  <h3>Gestion du compte </h3>
</div>

<div id="projects_title" style="display:inline-flex;">
  <button class="index_button" onclick="createProject()">Créer un nouveau projet</button>
  <form id='form_project' action="{% url 'kino_app:create_project' %}" method="post" style="margin:20;" hidden>
          {% csrf_token %}
          <input type="text" name='title' placeholder="Titre" class='input_proj'/>
          <input type="date" name='date' placeholder="Date" class='input_proj'class='input_proj'/>
          <input type="text" name='company' placeholder="Compagnie" class='input_proj'/>
          <input type="password" name='password' placeholder="Mot de passe" class='input_proj'/>
          <input type="submit" name='submit' value="Create" class='input_proj' style="cursor:pointer;"/>
      </form>
</div>
  <h3 style='padding:15;margin:0;'> Projets créés</h3>

{% if projects %}
<div id='tabs'>
  <script> var projects = []; </script>
  {% for project in projects %}
    <script> projects.push({'title':"{{project.Name}}", 'company':"{{project.Company}}", 'date':"{{project.Date}}", 'is_password':"{{project.Password}}", 'zero_elem':"{{project.ZeroElem}}"}); </script>
    <div><button class="projects_name index_button" id="{{project.Name}}">{{project.Name|replace_underscore}}</button></div>
  {% endfor %}
</div>
{% endif %}

<form id="upload_post" style="display: none; margin:0;" action="{% url 'kino_app:upload' %}" method="post" >
    {% csrf_token %}
    <input type="submit" value="Upload" class='edit_button'/>
    <input type="hidden" name="title" id="upload_title"/>
</form>

<div id='infos' class='infos' style="display:none;"></div>
<div style='margin: 20 10;'>
<a id='book' href="">Carnet audiovisuel</a>
</div>
<script>
var default_list = [];
var name_clicked;
var take_list = [];
var user_default_list = [];
var user_name_clicked;
var user_take_list = [];
var previous = "{{ request.session.previous_name }}";
var active_project = "{{ request.session.active_project }}";
var zero_elem = "{{zero_elem}}";
</script>

<span class='default'>
{% if projects %}
  {% for project in projects %}
    <ul id='list_def' class='default_list'>
    {% for name in project.List %}
      <script>
      default_list.push("/media/kino_app/index_images/{{project.Name}}/{{name}}/part01/");
      </script>
        <li class='def_list default' id="{{project.Name}}/{{name}}"><a><img hidden margin=0 class="sliding_def" border="0" onmouseover="mouseOver()" onmouseout="mouseOut()" src="/media/kino_app/index_images/{{project.Name}}/{{name}}/part01/poster0.jpg"></a><p contenteditable="true" spellcheck="false">{{ name|replace_underscore }}</p></li>

    {% endfor %}
    </ul>
  {% endfor %}
{% endif %}

{% if take_list %}
    <ul id='list'>
    {% for take in take_list %}
      <script>
      take_list.push("/media/kino_app/index_images/{{take.path}}/");
      </script>
        <li class='row_list' id="{{take.path}}"><a href="{% url 'kino_app:video_editing' take.id %}"><img hidden margin=0 class="sliding" border="0" onmouseover="mouseOver()" onmouseout="mouseOut()" src="/media/kino_app/index_images/{{take.path}}/poster0.jpg"><br>{{ take.path }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</span>


<script>
  var objects = [];
  var objects_def = [];
  var images = document.getElementsByClassName("sliding");
  var images_def = document.getElementsByClassName("sliding_def");
  let off = document.getElementById('logo').offsetHeight - document.getElementById("projects_title").offsetTop+5;
  name_clicked = previous;

  $.post({
    url: "set_previous",
    async: true,
    data: {'name': ''},
    dataType: 'json',
    success: function (data) {
      // console.log(data);
    }
  });

  document.getElementById('header_info').style.padding =  " 0 0 "+off.toString()+" 0";
  $('#book').hide();

  for(let check of document.getElementsByClassName('projects_name')) {
    check.onclick = hideShowDefault;
    check.checked = true;
  }

  for(let p of projects) {
    if(p.title == active_project) {
      p.is_password = 'False';
    }
  }

  if(!name_clicked) {
    $('.default_list').hide();
    $('#list').hide();
  } else {
    $('.default_list').hide();
    $('#list').show();
    clickDef();
    var title_proj;
    $('.row_list').each( function() {
      if(this.id.includes(name_clicked)) {
        title_proj=this.id.split('/')[0];
      }
    });
    $('#infos').show();
    for(let p of projects) {
      if(p.title == title_proj) {
        setProjectInfos('False',p);
      }
    }
  }

  $('.row_list').each( function() {
    let first_part = $(this)[0].firstChild.innerHTML.split('<br>');
    let name = $(this)[0].firstChild.innerText.split('/')[$(this)[0].firstChild.innerText.split('/').length-1];
    $(this)[0].firstChild.innerHTML = first_part[0]+'<br>'+name;
  });

  $('.def_list.default a').click(function() {
    name_clicked = $(this).parent()[0].id;
    $('.default_list').hide();
    $('#list').show();
    clickDef();
    resizeFunction();
  });

  function clickDef() {
    $('.row_list').each( function() {
      if(this.id.includes(name_clicked)) {
        $(this).show();
        $('#book').show();
        let href = 'video_book/'+$(this)[0].firstChild.href.split('/')[$(this)[0].firstChild.href.split('/').length-1];
        $('#book').attr("href", href);
        document.getElementById('book').style.margin =  " 20 0";
        // console.log(this.id.split('/')[1],name_clicked,$(this)[0].firstChild.href.split('/')[$(this)[0].firstChild.href.split('/').length-1], $('#book'));
      } else {
        $(this).hide();
      }
    });
  }

  function hideShowDefault() {
    if(!this.checked) {
      $('.default').find("ul, p").hide();
      $('#book').hide();
      $('#infos').hide();
      $('#upload_post').hide();
      this.checked = true;
    } else {
      $('#infos').show();
      let password = false;
      for(let p of projects) {
        if(p.title == this.id) {
          setProjectInfos(p.is_password, p);
          password = p.is_password;
        }
      }
      if(password == 'False') {
        $('#upload_post').show();
        document.getElementById('upload_title').value = this.id;
        var project = this.id;
        $('.def_list').each( function() {
          if(this.id.includes(project) && (this.id.split('/').length>1 && this.id.split('/')[0]==project)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
        $('.default').find("ul, p").show();
        $('#book').hide();
        $('#list').hide();
        resizeFunction();
      } else {
        $('#upload_post').hide();
        $('.default').find("ul, p").hide();
        $('#book').hide();
      }
      this.checked = false;
    }
    for(let check of document.getElementsByClassName('projects_name')) {
      if(check.id != this.id)
        check.checked = true;
    }
  }

  var default_def_obj = [];
  for(let p of default_list) {
    let obj = {};
    obj.id = 0;
    obj.path = p;
    default_def_obj.push(obj);
  }
  objects_def = default_def_obj;

  var default_objects = [];
  for(let p of take_list) {
    let obj = {};
    obj.id = 0;
    obj.path = p;
    default_objects.push(obj);
  }
  objects =default_objects;

  $('.row_list').height($('.row_list')[0].clientWidth/2+30);

  var is_form_visible = false;
  function createProject() {
    is_form_visible = !is_form_visible;
    if(is_form_visible)
      $('#form_project').show();
    else
      $('#form_project').hide();
  }

  function manageAccount() {
    if(this.checked) {
      $("#account_manager").hide();
      this.checked = false;
    } else {
      this.checked = true;
      $("#account_manager").show();
    }
  }

  function setProjectInfos(is_password, p) {
    if(is_password == "True") {
      let c = document.createElement('h3');
      c.innerText = 'Password: ';
      let form = document.createElement('form');
      form.method = "post";
      let input = document.createElement('input');
      input.type = "password";
      input.name = "password";
      form.appendChild(input);
      let input_title = document.createElement('input');
      input_title.type = "hidden";
      input_title.name = "title";
      input_title.value = p.title.replace('_',' ');
      form.appendChild(input_title);
      form.action = "{% url 'kino_app:check_project' %}";
      document.body.appendChild(document.getElementById('upload_post'));
      while (document.getElementById('infos').firstChild) {    document.getElementById('infos').removeChild(document.getElementById('infos').firstChild);}
      document.getElementById('infos').appendChild(c);
      document.getElementById('infos').appendChild(form);
      password = true;
    } else {
      let remove_button;
      if(p.zero_elem == "true") {
        remove_button = document.createElement('button');
        remove_button.className = "edit_button";
        remove_button.id = p.title;
        remove_button.innerText = 'Remove';
        remove_button.onclick = clickRemove;
      }
      let edit_button = document.createElement('button');
      edit_button.className = "edit_button";
      edit_button.id = p.title;
      edit_button.innerText = 'Edit';
      edit_button.onclick = clickEdit;
      let notes_project_button = document.createElement('button');
      notes_project_button.className = "edit_button";
      notes_project_button.id = p.title;
      notes_project_button.innerText = 'Notes';
      notes_project_button.onclick = clickNotes;
      let partition_project_button = document.createElement('button');
      partition_project_button.className = "edit_button";
      partition_project_button.id = p.title;
      partition_project_button.innerText = 'Corpus';
      partition_project_button.onclick = clickCorpus;
      let c = document.createElement('h3');
      c.innerText = 'Compagnie: '+p.company;
      let d = document.createElement('h3');
      d.innerText = 'Date de création: '+p.date;
      document.body.appendChild(document.getElementById('upload_post'));
      while (document.getElementById('infos').firstChild) {    document.getElementById('infos').removeChild(document.getElementById('infos').firstChild);}
      document.getElementById('infos').appendChild(document.getElementById('upload_post'));
      document.getElementById('infos').appendChild(edit_button);
      document.getElementById('infos').appendChild(notes_project_button);
      document.getElementById('infos').appendChild(partition_project_button);
      if(remove_button)
        document.getElementById('infos').appendChild(remove_button);
      document.getElementById('infos').appendChild(c);
      document.getElementById('infos').appendChild(d);
    }
  }

  function clickRemove() {
    $.post({
      url: "remove_project",
      data: {'title': this.id},
      dataType: 'json',
      success: function (data) {
        document.getElementById(data.success).remove();
        $('#infos').hide();
      }
    });
  }

  function clickEdit() {
    for(let p of projects) {
      if(p.title == this.id) {
        if(this.checked == true) {
          let edit_button = document.createElement('button');
          edit_button.className = "edit_button";
          edit_button.id = p.title;
          edit_button.innerText = 'Edit';
          edit_button.onclick = clickEdit;
          let c = document.createElement('h3');
          c.innerText = 'Compagnie: '+p.company;
          let d = document.createElement('h3');
          d.innerText = 'Date de création: '+p.date;
          document.body.appendChild(document.getElementById('upload_post'));
          while (document.getElementById('infos').firstChild) {document.getElementById('infos').removeChild(document.getElementById('infos').firstChild);}
          document.getElementById('infos').appendChild(document.getElementById('upload_post'));
          document.getElementById('infos').appendChild(edit_button);
          document.getElementById('infos').appendChild(c);
          document.getElementById('infos').appendChild(d);
        } else {
          let edit_button = document.createElement('button');
          edit_button.className = "edit_button";
          edit_button.id = p.title;
          edit_button.checked = true;
          edit_button.innerText = 'Hide';
          edit_button.onclick = clickEdit;
          let form = document.createElement('form');
          form.action = "{% url 'kino_app:edit_project' %}";
          form.method = 'post';
          let input_title = document.createElement('input');
          input_title.type = "text";
          input_title.name = "title";
          input_title.value = p.title.replace('_',' ');
          let old_title = document.createElement('input');
          old_title.type = "hidden";
          old_title.name = "old_title";
          old_title.value = p.title;
          let t = document.createElement('h3');
          t.innerText = 'Titre: ';
          let c = document.createElement('h3');
          c.innerText = 'Compagnie: ';
          let d = document.createElement('h3');
          d.innerText = 'Date de création: ';
          let input_date = document.createElement('input');
          input_date.type = "date";
          input_date.name = "date";
          input_date.valueAsDate = new Date(p.date);
          let input_company = document.createElement('input');
          input_company.type = "text";
          input_company.name = "company";
          input_company.value = p.company;
          let input_submit = document.createElement('input');
          input_submit.type = "submit";
          input_submit.name = "submit";
          input_submit.className = "edit_button";
          input_submit.value = "Save";
          form.appendChild(t);
          form.appendChild(input_title);
          form.appendChild(c);
          form.appendChild(input_company);
          form.appendChild(d);
          form.appendChild(input_date);
          form.appendChild(input_submit);
          form.appendChild(old_title);
          document.body.appendChild(document.getElementById('upload_post'));
          while (document.getElementById('infos').firstChild) {document.getElementById('infos').removeChild(document.getElementById('infos').firstChild);}
          document.getElementById('infos').appendChild(document.getElementById('upload_post'));
          document.getElementById('infos').appendChild(edit_button);
          document.getElementById('infos').appendChild(form);
        }
      }
    }
  }

  function clickNotes() {
    let a = document.createElement('a');
    a.href= "noting_app/"+this.id;
    a.click();
  }

  function clickCorpus() {
    let a = document.createElement('a');
    a.href= "corpus_search/"+this.id;
    a.click();
  }

  function resizeFunction() {
    let height, width;
    if($('.def_list:visible:first')[0]) {
      height = $('.def_list:visible:first')[0].clientWidth/2;
      width = ($('.def_list:visible:first')[0].clientWidth*90/100);
    }
    if(!height) {
      height = $('.row_list:visible:first')[0].clientWidth/2;
    }
    if(!width) {
      width = ($('.row_list:visible:first')[0].clientWidth*90/100);
    }
    $('.row_list').height(height+30);
    $('.def_list').height(height+30);
    // stuff you want to do every second
    for(let i=0; i < images.length; i++){
      if(objects[i].path.includes(name_clicked)) {
        let img = images[i];
        img.hidden = false;
        if(!objects[i].aspect_ratio) {
          objects[i].aspect_ratio = img.width/img.height;
        }
        if(width / objects[i].aspect_ratio > height) {
          img.height = height;
          img.width = height*objects[i].aspect_ratio;

        } else {
          img.width = width;
          img.height = width / objects[i].aspect_ratio;
          let off = (height - img.height)/2;
          img.style.marginTop = off;
        }
      }
    }

    for(let i=0; i < images_def.length; i++){
      // console.log(img);
      let img = images_def[i];
      img.hidden = false;
      if(!objects_def[i].aspect_ratio) {
        objects_def[i].aspect_ratio = img.width/img.height;
      }
      if(width / objects_def[i].aspect_ratio > height) {
        img.height = height;
        img.width = height*objects_def[i].aspect_ratio;

      } else {
        img.width = width;
        img.height = width / objects_def[i].aspect_ratio;
        let off = (height - img.height)/2;
        img.style.marginTop = off;
      }
    }
  }

  var interval;
  function overImages() {
    for(let i=0; i < images.length; i++){
      if(objects[i].path.includes(name_clicked)) {
        let path = objects[i].path;
        let img = images[i];
        if(img.mouseOver) {
          img.src = path+'poster'+objects[i].id+'.jpg';
          objects[i].id = (objects[i].id+1)%10;
        } else {
          objects[i].id = 0;
          img.src = path+'poster'+objects[i].id+'.jpg';
        }
      }
    }
    for(let i=0; i < images_def.length; i++){
      let path = objects_def[i].path;
      let img = images_def[i];
      if(img.mouseOver) {
        img.src = path+'poster'+objects_def[i].id+'.jpg';
        objects_def[i].id = (objects_def[i].id+1)%10;
      } else {
        objects_def[i].id = 0;
        img.src = path+'poster'+objects_def[i].id+'.jpg';
      }
    }
  }

  for(let name of ["sliding","sliding_def"]) {
    for(let img of document.getElementsByClassName(name)) {
      img.onmouseover = function() {
        img.mouseOver = true;
        // overImages();
        interval = setInterval(overImages, 1000);
      }
      img.onmouseout = function() {
        img.mouseOver = false;
        overImages();
        clearInterval(interval);
      }
    }
  }

  $(document).bind('keydown', function(e) {
    if(e.ctrlKey && (e.which == 83)) {
      e.preventDefault();
      console.log('ctrl s = save');
      var path_modified = [];
      $('.def_list.default p').each(function() {
        let path = {};
        name_clicked = $(this).parent()[0].id.split('/')[1];
        if(name_clicked != this.innerText) {
          path.old = name_clicked;
          path.new = this.innerText;
          path_modified.push(path);
        }
      });
      $.post({
        url: "modified_path",
        data: {'path_modified': JSON.stringify(path_modified)},
        dataType: 'json',
        success: function (data) {
        }
      });
      keyDown = undefined;
      return false;
    }
  });

 var logo = document.getElementById("logo");
 window.onresize = resizeFunction;
 if(previous != "") {
   resizeFunction();
 }
 if(active_project!='' && active_project!='wrong password') {
   $("#"+active_project).click();
 } else if(active_project=='wrong password') {
   alert("Wrong password");
 }
</script>
