{% load static %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/index_style.css' %}">

    <script src="{% static 'kino_app/jquery.min.js' %}"></script>
    <script src="{% static 'kino_app/dash.all.min.js' %}"></script>
    <script src="{% static 'kino_app/p5.min.js' %}"></script>
    <!-- <script src="{% static 'kino_app/opencv.js' %}"></script> -->
    <script src="{% static 'kino_app/addons/p5.dom.min.js' %}"></script>
    <script src="{% static 'kino_app/addons/p5.sound.min.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/actor_timeline.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/tracklet.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/erase_button.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/drag_button.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/go_button.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/button.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/state_button.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/player.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/start_end_time.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/shot.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/track_bbox_shot.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/bbox_shot.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/annotation_timeline.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/actor_annotation.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/note_editor.js' %}"></script>
    <script>
        // var json_detec = "{% static 'kino_app/data/' %}{{path}}/detections.json";
        // var json_detec_test = "{{data_detec}}";
        // var data_detects = JSON.parse(json_detec_test.replace(/&quot;/g,'"'));
        var json_data_note = "{{data_note}}";
        var data_note = JSON.parse(json_data_note.replace(/&quot;/g,'"'));
        var sub_granted = true;
        if("{{owner}}"=="None") {
          sub_granted = false;
        }
        var owner = "{{owner}}";
        var json_track = "/media/kino_app/data/{{path}}/tracklets.json";
        var json_timeline = "/media/kino_app/data/{{path}}/actors_timeline.json";
        var json_annotation_timeline = "/media/kino_app/data/{{path}}/annotation_timeline.json";
        var json_shots = "/media/kino_app/data/{{path}}/shots.json";
        var abs_path = "{{abs_path}}";
        var original_width = "{{width}}";
        var original_height = "{{height}}";
        var original_frame_rate = "{{frame_rate}}";
        var id_db = "{{id}}";
        // console.log(original_width, original_height, original_frame_rate);
    </script>
    <script src="{% static 'kino_app/kino_ai/video_canvas.js' %}"></script>


    <title>KinoAI</title>
   </head>

   <body>
     <div id='header_info' class="aside">
     <div class="aside">
     <a class="aside" href="{% url 'kino_app:index' %}" ><img class="aside" id="logo" width="140" height="140" src="{% static 'kino_app/logo/logo_cut.png' %}" ></a>
     </div>
     <div class="aside" id='user_info'>
       <h2>{{part}}</h2>
       {% if prev_id %}
          <a class="aside" href="{% url 'kino_app:video_editing' prev_id%}" ><img class="aside arrow" width="70" height="35" src="{% static 'kino_app/logo/prev.png' %}" ></a>
        {% endif %}
       {% if next_id %}
          <a class="aside" href="{% url 'kino_app:video_editing' next_id%}" ><img class="aside arrow" width="70" height="35" src="{% static 'kino_app/logo/next.png' %}" ></a>
        {% endif %}
       <form action="{% url 'kino_app:upload_rough' %}" method="post" id='rough'>
               {% csrf_token %}
               <input type="file" name="fileToUpload" id="fileToUpload"/>
               <input type="hidden" id="abs_path" name="abs_path" value="{{abs_path}}">
               <input type="submit" value="Upload" id='logout'/>
           </form>
     </div>
      <h1 class="aside">{{title}}</h1>
    </div>
     <div id="div_player">
         <video id="videoPlayer" controls></video>
         <script>
              (function(){
                  var url = "/media/kino_app/data/{{path}}/mpd/original_dash.mpd";
                  dash_player = dashjs.MediaPlayer().create();
                  dash_player.initialize(document.querySelector("#videoPlayer"), url, false);
              })();
          </script>
     </div>

     <div id='opencv_out' ></div>
     <button id='submit'>Save</button>
     {% block javascript %}
     <script>
     let off = document.getElementById('user_info').offsetHeight - document.getElementById("div_player").offsetTop;
     if((document.getElementById('logo').offsetHeight - document.getElementById("div_player").offsetTop)>off) {
       off = document.getElementById('logo').offsetHeight - document.getElementById("div_player").offsetTop;
     }
     document.getElementById('header_info').style.padding =  " 0 0 "+off.toString()+" 0";

     // Attach a submit handler to the form
     function upload(event) {
      event.preventDefault();
      var data = new FormData($('#rough').get(0));

      $.ajax({
         url: $(this).attr('action'),
         type: $(this).attr('method'),
         data: data,
         cache: false,
         processData: false,
         contentType: false,
         success: function(data) {
            let type = data['type'];
            if(type == 'json') {
              let value = JSON.parse(data['data'].replace(/&quot;/g,'"'));
              if(value) {
                rough_json = value;
                if(rough_json) {
                  if(exploit_rough) {
                    exploit_rough.remove();
                  }
                  exploit_rough = createButton('Roughisation');
                  html_elements.push(exploit_rough);
                  exploit_rough.side = true;
                  exploit_rough.mousePressed(exploitRoughCut);
                  positionUIElements();
                }
              }
            } else if(type == 'vtt') {
              $('#div_sub').remove();
              div_sub = undefined;
              let i=0;
              for(let t of video.elt.textTracks) {
                if(i>0) {
                  t.mode = 'disabled';
                }
                i++;
              }
              setSubtitle(data);
            }
         }
      });
      return false;
      }

      $(function() {
         $('#rough').submit(upload);
      });
      $('body').on('focus', '[contenteditable]', function() {
          const $this = $(this);
          $this.data('before', $this.html());
      }).on('blur keyup paste input', '[contenteditable]', function() {
          const $this = $(this);
          if ($this.data('before') !== $this.html()) {
              $this.data('before', $this.html());
              $this.trigger('change');
              for(let act of actors_timeline) {
                if($(this).is(act.elem.elt)) {
                  act.setActorName($(this)[0].innerText);
                }
              }
          }
      });

      $(document).bind('keydown', function(e) {
        if(e.ctrlKey && (e.which == 83)) {
          e.preventDefault();
          if(sub_granted) {
            saveTimeline();
          } else {
            console.log("not allowed");
          }
          note_editor.saveNote();
          keyDown = undefined;
          return false;
        }
      });
     </script>
     {% endblock %}

     <!-- <footer id='footer'>
       Rémi Colin de Verdière - Imagine - Inria
     </footer> -->
  </body>
</html>
